In [1]:
# นำเข้าไลบรารี pandas สำหรับจัดการข้อมูลตาราง
import pandas as pd

# อ่านไฟล์ CSV เข้ามาเก็บในตัวแปร df
df_rotten = pd.read_csv("rotten_tomatoes_critic_reviews.csv")

# แสดงข้อมูล 5 แถวแรก เพื่อตรวจสอบว่าโหลดสำเร็จหรือไม่
df_rotten.head()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...

In [2]:
# ดูโครงสร้างข้อมูล
df_rotten.info()

# ดูชื่อคอลัมน์ทั้งหมด
print(df_rotten.columns)

# ตรวจสอบ missing value
df_rotten.isnull().sum()

<class 'pandas.DataFrame'>
RangeIndex: 1130017 entries, 0 to 1130016
Data columns (total 8 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   rotten_tomatoes_link  1130017 non-null  str
 1   critic_name           1111488 non-null  str
 2   top_critic            1130017 non-null  bool
 3   publisher_name        1130017 non-null  str
 4   review_type           1130017 non-null  str
 5   review_score          824081 non-null   str
 6   review_date           1130017 non-null  str
 7   review_content        1064211 non-null  str
dtypes: bool(1), str(7)
memory usage: 61.4 MB
Index(['rotten_tomatoes_link', 'critic_name', 'top_critic', 'publisher_name',
       'review_type', 'review_score', 'review_date', 'review_content'],
      dtype='str')

rotten_tomatoes_link         0
critic_name              18529
top_critic                   0
publisher_name               0
review_type                  0
review_score            305936
review_date                  0
review_content           65806
dtype: int64

In [14]:
for col in df_rotten.columns:
    print(f"'{col}'")

'review_type'
'review_score'

In [15]:
df_rotten.columns = df_rotten.columns.str.strip()

In [16]:
df_rotten = df_rotten[['review_score', 'review_type']]
df_rotten.head()

  review_score review_type
3        3.5/5       Fresh
6          1/4      Rotten
7        3.5/5       Fresh
8            B       Fresh
9          3/5       Fresh

In [17]:
df_rotten = df_rotten.dropna()

In [ ]:
import re

# ลบ HTML tag
def remove_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', str(text))

df_rotten['review_score', 'review_type'] = df_rotten['review_score', 'review_type'].apply(remove_html)

# แปลงเป็น lowercase
df_rotten['review_score', 'review_type'] = df_rotten['review_score', 'review_type'].str.lower()

# ลบ punctuation
def remove_punctuation(text):
    return re.sub(r'[^\w\s]', '', text)

df_rotten['review_score', 'review_type'] = df_rotten['review_score', 'review_type'].apply(remove_punctuation)

KeyError: ('review_score', 'review_type')